# Web
NEXT_PUBLIC_APP_NAME=宝马街
NEXT_PUBLIC_APP_LOCALE=pt
API_BASE_URL=http://127.0.0.1:4000

# API
PORT=4000
HOST=127.0.0.1

# PostgreSQL (docker compose)
DATABASE_URL=postgresql://baomajie:baomajie@127.0.0.1:5433/baomajie?schema=public

# Redis (docker compose)
REDIS_URL=redis://127.0.0.1:6379

# Meilisearch (docker compose)
MEILISEARCH_URL=http://127.0.0.1:7700
MEILISEARCH_API_KEY=baomajie-dev-master-key
